In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [23]:
# Create engine (reusable)
engine = create_engine("postgresql+psycopg2://postgres:Rpsingh123@localhost:5432/inventory")
print("✅ PostgreSQL connection successful")

# Example queries
df = pd.read_sql("SELECT * FROM sales LIMIT 10;", engine)
print(df)

count_df = pd.read_sql("SELECT COUNT(*) FROM sales;", engine)
print(count_df)

# No need to manually close — engine handles pooling

✅ PostgreSQL connection successful
            InventoryId  Store  Brand                  Description  \
0   1_HARDERSFIELD_1004      1   1004   Jim Beam w/2 Rocks Glasses
1   1_HARDERSFIELD_1004      1   1004   Jim Beam w/2 Rocks Glasses
2   1_HARDERSFIELD_1004      1   1004   Jim Beam w/2 Rocks Glasses
3   1_HARDERSFIELD_1004      1   1004   Jim Beam w/2 Rocks Glasses
4   1_HARDERSFIELD_1005      1   1005      Maker's Mark Combo Pack
5   1_HARDERSFIELD_1005      1   1005      Maker's Mark Combo Pack
6   1_HARDERSFIELD_1005      1   1005      Maker's Mark Combo Pack
7   1_HARDERSFIELD_1005      1   1005      Maker's Mark Combo Pack
8  1_HARDERSFIELD_10058      1  10058  F Coppola Dmd Ivry Cab Svgn
9  1_HARDERSFIELD_10058      1  10058  F Coppola Dmd Ivry Cab Svgn

         Size  SalesQuantity  SalesDollars  SalesPrice   SalesDate  Volume  \
0       750mL              1         16.49       16.49  2024-01-01   750.0
1       750mL              2         32.98       16.49  2024-01-02   750.0
2       750mL              1         16.49       16.49  2024-01-03   750.0
3       750mL              1         14.49       14.49  2024-01-08   750.0
4  375mL 2 Pk              2         69.98       34.99  2024-01-09   375.0
5  375mL 2 Pk              1         34.99       34.99  2024-01-15   375.0
6  375mL 2 Pk              1         34.99       34.99  2024-01-22   375.0
7  375mL 2 Pk              1         34.99       34.99  2024-01-30   375.0
8       750mL              4         59.96       14.99  2024-01-05   750.0
9       750mL              1         14.99       14.99  2024-01-06   750.0

   Classification  ExciseTax  VendorNo                   VendorName
0               1       0.79     12546  JIM BEAM BRANDS COMPANY
1               1       1.57     12546  JIM BEAM BRANDS COMPANY
2               1       0.79     12546  JIM BEAM BRANDS COMPANY
3               1       0.79     12546  JIM BEAM BRANDS COMPANY
4               1       0.79     12546  JIM BEAM BRANDS COMPANY
5               1       0.39     12546  JIM BEAM BRANDS COMPANY
6               1       0.39     12546  JIM BEAM BRANDS COMPANY
7               1       0.39     12546  JIM BEAM BRANDS COMPANY
8               2       0.45      2000  SOUTHERN WINE & SPIRITS NE
9               2       0.11      2000  SOUTHERN WINE & SPIRITS NE
      count
0  12825363

In [24]:
tables = pd.read_sql(
    "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'",
    engine
)
print(tables)

        table_name
0  begin_inventory
1    end_inventory
2        purchases
3  purchase_prices
4            sales
5   vendor_invoice

In [26]:
# create reusable engine
engine = create_engine("postgresql+psycopg2://postgres:Rpsingh123@localhost:5432/inventory")

# fetch table list
tables = pd.read_sql("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'", engine)

# loop through tables
for table in tables['table_name']:
    print('-'*50, f'{table}','-'*50)
    result = pd.read_sql(f"SELECT COUNT(*) as count FROM {table}", engine)
    print('Count of records:', result['count'][0])

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529
-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489
-------------------------------------------------- purchases --------------------------------------------------
Count of records: 2372474
-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261
-------------------------------------------------- sales --------------------------------------------------
Count of records: 12825363
-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

In [32]:
for table in tables['table_name']:
    print('-'*50, f'{table}','-'*50)
    print(pd.read_sql(f"select * from {table} LIMIT 2;",engine))

-------------------------------------------------- begin_inventory --------------------------------------------------
         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_60      1  HARDERSFIELD     60       Canadian Club 1858 VAP

    Size  onHand  Price   startDate
0  750mL       8  12.99  2024-01-01
1  750mL       7  10.99  2024-01-01
-------------------------------------------------- end_inventory --------------------------------------------------
         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila

    Size  onHand  Price     endDate
0  750mL      11  12.99  2024-12-31
1  750mL       7  36.99  2024-12-31
-------------------------------------------------- purchases --------------------------------------------------
         InventoryId  Store  Brand                   Description   Size  \
0  69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno  750mL
1   30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide  1.75L

   VendorNumber                   VendorName  PONumber      PODate  \
0           105  ALTAMAR BRANDS LLC               8124  2023-12-21
1          4466  AMERICAN VINTAGE BEVERAGE        8137  2023-12-22

  ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  Dollars  \
0    2024-01-02  2024-01-04  2024-02-16          35.71         6   214.26
1    2024-01-01  2024-01-07  2024-02-21           9.35         4    37.40

   Classification
0               1
1               1
-------------------------------------------------- purchase_prices --------------------------------------------------
   Brand                  Description  Price   Size  Volume  Classification  \
0   58.0  Gekkeikan Black & Gold Sake  12.99  750mL   750.0             1.0
1   62.0     Herradura Silver Tequila  36.99  750mL   750.0             1.0

   PurchasePrice  VendorNumber                   VendorName
0           9.28        8320.0  SHAW ROSS INT L IMP LTD
1          28.67        1128.0  BROWN-FORMAN CORP
-------------------------------------------------- sales --------------------------------------------------
           InventoryId  Store  Brand                 Description   Size  \
0  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses  750mL
1  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses  750mL

   SalesQuantity  SalesDollars  SalesPrice   SalesDate  Volume  \
0              1         16.49       16.49  2024-01-01   750.0
1              2         32.98       16.49  2024-01-02   750.0

   Classification  ExciseTax  VendorNo                   VendorName
0               1       0.79     12546  JIM BEAM BRANDS COMPANY
1               1       1.57     12546  JIM BEAM BRANDS COMPANY
-------------------------------------------------- vendor_invoice --------------------------------------------------
   VendorNumber                   VendorName InvoiceDate  PONumber  \
0           105  ALTAMAR BRANDS LLC           2024-01-04      8124
1          4466  AMERICAN VINTAGE BEVERAGE    2024-01-07      8137

       PODate     PayDate  Quantity  Dollars  Freight Approval
0  2023-12-21  2024-02-16         6   214.26     3.47     None
1  2023-12-22  2024-02-21        15   140.55     8.57     None

In [34]:
purchases = pd.read_sql('Select * from purchases where "VendorNumber"= 4466', engine)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,74_PAENTMARWY_5215,74,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13066,2024-11-15,2024-11-23,2024-12-02,2025-01-07,9.41,6,56.46,1
2188,67_EANVERNESS_5215,67,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13066,2024-11-15,2024-11-23,2024-12-02,2025-01-07,9.41,6,56.46,1
2189,15_WANBORNE_3140,15,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13066,2024-11-15,2024-11-22,2024-12-02,2025-01-07,11.19,6,67.14,1
2190,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13066,2024-11-15,2024-11-25,2024-12-02,2025-01-07,9.41,5,47.05,1
2191,49_GARIGILL_5215,49,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13066,2024-11-15,2024-11-23,2024-12-02,2025-01-07,9.41,6,56.46,1

In [35]:
purchase_prices = pd.read_sql('Select * from purchase_prices where "VendorNumber" = 4466',engine)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215.0,TGI Fridays Long Island Iced,12.99,1750mL,1750.0,1.0,9.41,4466.0,AMERICAN VINTAGE BEVERAGE
1,5255.0,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750.0,1.0,9.35,4466.0,AMERICAN VINTAGE BEVERAGE
2,3140.0,TGI Fridays Orange Dream,14.99,1750mL,1750.0,1.0,11.19,4466.0,AMERICAN VINTAGE BEVERAGE

In [39]:
vendor_invoice = pd.read_sql('Select * from vendor_invoice where "VendorNumber"= 4466', engine)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [30]:
sales=pd.read_sql('Select * from sales where "VendorNo"= \'4466\'', engine)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,8_ALNERWICK_3140,8,3140,TGI Fridays Orange Dream,1.75L,2,25.98,12.99,2024-12-23,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
9449,8_ALNERWICK_3140,8,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-12-28,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,8_ALNERWICK_3140,8,3140,TGI Fridays Orange Dream,1.75L,2,25.98,12.99,2024-12-30,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [41]:
purchases.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [50]:
sales.groupby("Brand")[["SalesDollars", "SalesPrice", "SalesQuantity"]].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
3140       50531.10    30071.85           3890
5215       60416.49    41542.02           4651
5255       79187.04    51180.60           6096

1. The purchase table contains actual purchase date, including the date of purchase, brands purchased by vendors, the amount paid (in dollars) and the quantity purchased.
2. The purchase price column is derived from the purchase_price table, which provides product-wise actual and purchase prices. The combination of brand and vendor is unique in the table.
3. The vendor_invoice table aggregates data from the purchases table, summarizing quantity and dollar amounts, along with an additional column for freight. This table maintains uniqueness based on vendor and PO number.
4. The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.


-------------------------------------------------------------------------------------------------------------------------------
The data which would be needed for analysis is distributed in different tables, we need to create a summary table containing:

1. purchase transactions made by vendors
2. sales transactn data
3. freight cost for each vendor
4. actual product prices from vendors

In [51]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [55]:
freight_summary=pd.read_sql('Select "VendorNumber", SUM("Freight") from vendor_invoice group by "VendorNumber"', engine)
freight_summary

     VendorNumber       sum
0            7255    648.71
1            1439      0.27
2            9751     24.53
3            6830    360.29
4            1587   6070.09
..            ...       ...
121          9625   1933.19
122          7154    432.37
123          1392  79528.99
124          1189    609.39
125         90017     80.03

[126 rows x 2 columns]

In [57]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [ ]:
pp=pd.read_sql('Select * from purchase_prices limit 2', engine)
pp

----------
----------

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1

In [62]:
p=pd.read_sql('Select * from purchases limit 2', engine)
p

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1